@import "./../../styles/variables.scss";

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.action-button {
  background-color: $accent;
  border: 2px solid $accent;

  color: $white;
  transition: all 0.2s ease-out;
  padding: 1rem 1rem;
  width: min(240px, 100%);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  box-sizing: border-box;
  text-align: center;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: $white;
    color: $accent;
    border: 2px solid lighten($accent, 20%);
  }

  &:focus-visible {
    outline: 2px solid $gray;
  }

  &.button-secondary {
    background-color: $secondary;
    border: 2px solid $secondary;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $white;
      color: $secondary;
      border: 2px solid lighten($secondary, 20%);
    }

    &:focus-visible {
      outline: 2px solid $gray;
    }
  }

  &.button-outline-white {
    background-color: transparent;
    border: 2px solid rgba($white, 0.6);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $white;
      color: $secondary;
      border: 2px solid lighten($white, 20%);
    }

    &:focus-visible {
      outline: 2px solid $gray;
    }
  }

  &.button-outline-primary {
    background-color: transparent;
    border: 2px solid rgba($primary, 0.6);
    color: $primary;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $primary;
      color: $white;
      border: 2px solid lighten($primary, 20%);
    }

    &:focus-visible {
      outline: 2px solid $gray;
    }
  }

  &.button-outline-secondary {
    background-color: transparent;
    border: 2px solid rgba($secondary, 0.6);
    color: $secondary;

    &:hover,
    &:active,
    &:focus-visible {
      background-color: $secondary;
      color: $white;
      border: 2px solid lighten($secondary, 20%);
    }

    &:focus-visible {
      outline: 2px solid $gray;
    }
  }
}
